.grid-header__title{
    line-height: 40px;
    margin: 0 15px 0 0;
}

.grid-header{
    display: flex;
    padding: 16px 0;
}

.grid-header__clear{
    cursor: pointer;
    background-color: #889096;
    border-color: #889096;
    color: #fff;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    transition: .2s linear;
}

.grid-header__clear:hover{
    background-color: #6c757d;
    border-color: #6c757d;
}

.grid-content{
    height: calc(100vh - 88px);
    width: 100%;
}